section.comments#comments
	.container
		h2 
			span
				| testimonials
			br
			| KIND
			i
				| WORDS FROM OUR CLIENTS
		.comments_block
			.slider.slick-comments
				div
					.comments_blk
						ul
							li
								.comments_box.clearfix
									.comments_box_left
										.comments_box_num 01
										.comments_box_img
											img(src=require('../components/images/photo-1.jpg'), width='125px', height='125px')
										.comments_box_info
											.comments_box_name Malik Green
											.comments_box_data 16.11.2017
									.comments_box_right
										p.
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at aliquam lectus. Proin dictum dapibus leo, eu pharetra dui. In aliquet magna ut ante congue, quis rutrum orci aliquet. Phasellus imperdiet sapien est, sit amet sodales nibh sollicitudin eu. Etiam sed ante ultricies, rutrum lectus
							li
								.comments_box.clearfix
									.comments_box_left
										.comments_box_num 02
										.comments_box_img
											img(src=require('../components/images/photo-2.jpg'), width='125px', height='125px')
										.comments_box_info
											.comments_box_name Malik Green
											.comments_box_data 16.11.2017
									.comments_box_right
										p.
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at aliquam lectus. Proin dictum dapibus leo, eu pharetra dui. In aliquet magna ut ante congue, quis rutrum orci aliquet. Phasellus imperdiet sapien est, sit amet sodales nibh sollicitudin eu. Etiam sed ante ultricies, rutrum lectus
				div
					.comments_blk
						ul
							li
								.comments_box.clearfix
									.comments_box_left
										.comments_box_num 01
										.comments_box_img
											img(src=require('../components/images/photo-1.jpg'), width='125px', height='125px')
										.comments_box_info
											.comments_box_name Malik Green
											.comments_box_data 16.11.2017
									.comments_box_right
										p.
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at aliquam lectus. Proin dictum dapibus leo, eu pharetra dui. In aliquet magna ut ante congue, quis rutrum orci aliquet. Phasellus imperdiet sapien est, sit amet sodales nibh sollicitudin eu. Etiam sed ante ultricies, rutrum lectus
							li
								.comments_box.clearfix
									.comments_box_left
										.comments_box_num 02
										.comments_box_img
											img(src=require('../components/images/photo-2.jpg'), width='125px', height='125px')
										.comments_box_info
											.comments_box_name Malik Green
											.comments_box_data 16.11.2017
									.comments_box_right
										p.
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at aliquam lectus. Proin dictum dapibus leo, eu pharetra dui. In aliquet magna ut ante congue, quis rutrum orci aliquet. Phasellus imperdiet sapien est, sit amet sodales nibh sollicitudin eu. Etiam sed ante ultricies, rutrum lectus
			.controls.clearfix
				.controls_current
				.controls_total