section.companies
	.container
		h2 
			span
				| insurance company
			br
			| All insurance 
			i
				| companies accepted!
		.companies_block
			.slider.slick-companies
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-2.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-3.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-4.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-5.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-2.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-3.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-4.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-5.png') + ')')
				div
					.slick-companies_box
						.slick-companies_img(style='background-image: url(' + require('../components/images/company-2.png') + ')')