footer
	.footer#footer
		.footer_main
			.container
				.row
					.col-sm-3
						.footer_menu
							p.footer_title Menu
							ul
								li 
									a(href="about-us.html") About us
								li 
									a(href="service.html") Service
								li 
									a(href="wdr.html") Damage
								li 
									a(href="contacts.html") Contact us
					.col-sm-3
						.footer_contact
							p.footer_title Contact
							ul
								li 
									p Phone: 
										a(href="tel:+18888668007") +1(888)-866-8007
								li 
									p E-mail: 
										a(href="mailto:info@LeakFound.com") info@LeakFound.com
								li 
									p.
										Adress: 20058 Ventura Blvd #332 Woodland Hills, CA 91364
					.col-sm-3
						.footer_service
							p.footer_title Service
							ul
								li 
									a(href="wdr.html") Water damage restoration
								li 
									a(href="wdr.html") Leak Detection
								li 
									a(href="wdr.html") Mold Removal/Remediation
								li 
									a(href="wdr.html") Smoke Damage Restoration
								li 
									a(href="wdr.html") Damage Repair Restoration
					.col-sm-3
						.footer_instagram
							p.footer_title We Are in instagram
							ul
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-1.jpg') + ')')
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-2.jpg') + ')')
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-3.jpg') + ')')
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-4.jpg') + ')')
							ul
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-5.jpg') + ')')
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-6.jpg') + ')')
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-7.jpg') + ')')
								li
									a(href="#", style='background-image:url(' + require('../components/images/insta-8.jpg') + ')')
		.footer_bottom
			.container
				.row
					.col-xs-12.col-sm-4.col-sm-push-4
						.footer_logo
							a(href="./")
					.col-xs-12.col-sm-4.col-sm-pull-4
						.footer_copyright
							p ©
								span#year
								| All rights reserved
					.col-xs-12.col-sm-4
						.footer_production
							a(href="http://unitspace.top") Production by: