header
	.header#header
		.gradient
		.container
			.header_left
				.header_logo
					a(href="./")
			.header_right
				.header_menu#headerMenu
					.close#close
					ul
						li.current-menu-item
							a(href="./") Home
						li
							a(href="about-us.html#choose-us") Why we
						li
							a(href="about-us.html") About us
						li
							a(href="services.html") Services
						li
							a(href="blog.html") Blog
						li
							a(href="contacts.html") Contacts
				.header_tel
					a(href="tel:+18888668007") +1(888) 866 8007
				.header_hamburger
					span.top
					span.mid
					span.bottom