section.blog#blog
	.container
		h2 
			span
				| from our blog
			br
			| latest
			i
				| news
		.blog_block
			.slider.slick-blog
				div
					.slider-blog_block
						a(href="article.html").slider-blog_box
							.slider-blog_img(style='background-image: url(' + require('../components/images/blog-1.jpg') + ')')
							.slider-blog_name Why consider us the best?
							.slider-blog_desc Сonsectetur adipiscing elit.
						a(href="article.html").slider-blog_box
							.slider-blog_img(style='background-image: url(' + require('../components/images/blog-2.jpg') + ')')
							.slider-blog_name Why consider us the best?
							.slider-blog_desc Сonsectetur adipiscing elit.
						a(href="article.html").slider-blog_box
							.slider-blog_img(style='background-image: url(' + require('../components/images/blog-3.jpg') + ')')
							.slider-blog_name Why consider us the best?
							.slider-blog_desc Сonsectetur adipiscing elit.
				div
					.slider-blog_block
						a(href="article.html").slider-blog_box
							.slider-blog_img(style='background-image: url(' + require('../components/images/blog-1.jpg') + ')')
							.slider-blog_name Why consider us the best?
							.slider-blog_desc Сonsectetur adipiscing elit.
						a(href="article.html").slider-blog_box
							.slider-blog_img(style='background-image: url(' + require('../components/images/blog-2.jpg') + ')')
							.slider-blog_name Why consider us the best?
							.slider-blog_desc Сonsectetur adipiscing elit.
						a(href="article.html").slider-blog_box
							.slider-blog_img(style='background-image: url(' + require('../components/images/blog-3.jpg') + ')')
							.slider-blog_name Why consider us the best?
							.slider-blog_desc Сonsectetur adipiscing elit.
			.controls.clearfix
				.controls_current
				.controls_total