section.stats#stats
	.container
		h2 
			span
				| statistics
			br
			| lets crack 
			i
				| some numbers
		.stats_block
			.row
				.col-sm-3
					.stats_box
						.stats_num#DynamicNumber1 0
						.stats_name Finished projects
				.col-sm-3
					.stats_box
						.stats_num#DynamicNumber2 0
						.stats_name Finished projects
				.col-sm-3
					.stats_box
						.stats_num#DynamicNumber3 0
						.stats_name Finished projects
				.col-sm-3
					.stats_box
						.stats_num#DynamicNumber4 0
						.stats_name Finished projects