section.yelp-comments#yelp-comments
	.container
		h2 
			span
				| We are on yelp
			br
			| our clients 
			i
				| on yelp
		.slider.slick-yelp
			div
				span.yelp-review(data-review-id='dCQmRIC5mfp0s_mF1TNDPQ', data-hostname='www.yelp.com')
					| Read 
					a(href='https://www.yelp.com/user_details?userid=Z-hVT524EDQgZF6uN-4GVg', rel='nofollow noopener') Nina E.
					| 's 
					a(href='https://www.yelp.com/biz/leak-found-los-angeles-3?hrid=dCQmRIC5mfp0s_mF1TNDPQ', rel='nofollow noopener') review
					|  of 
					a(href='https://www.yelp.com/biz/dHFoOQfVbYulRZUEC6lE-g', rel='nofollow noopener') Leak Found
					|  on 
					a(href='https://www.yelp.com', rel='nofollow noopener') Yelp
					script(async='async', src='https://www.yelp.com/embed/widgets.js', type='text/javascript')
			div
				span.yelp-review(data-review-id='dCQmRIC5mfp0s_mF1TNDPQ', data-hostname='www.yelp.com')
					| Read 
					a(href='https://www.yelp.com/user_details?userid=Z-hVT524EDQgZF6uN-4GVg', rel='nofollow noopener') Nina E.
					| 's 
					a(href='https://www.yelp.com/biz/leak-found-los-angeles-3?hrid=dCQmRIC5mfp0s_mF1TNDPQ', rel='nofollow noopener') review
					|  of 
					a(href='https://www.yelp.com/biz/dHFoOQfVbYulRZUEC6lE-g', rel='nofollow noopener') Leak Found
					|  on 
					a(href='https://www.yelp.com', rel='nofollow noopener') Yelp
					script(async='async', src='https://www.yelp.com/embed/widgets.js', type='text/javascript')
			div
				span.yelp-review(data-review-id='dCQmRIC5mfp0s_mF1TNDPQ', data-hostname='www.yelp.com')
					| Read 
					a(href='https://www.yelp.com/user_details?userid=Z-hVT524EDQgZF6uN-4GVg', rel='nofollow noopener') Nina E.
					| 's 
					a(href='https://www.yelp.com/biz/leak-found-los-angeles-3?hrid=dCQmRIC5mfp0s_mF1TNDPQ', rel='nofollow noopener') review
					|  of 
					a(href='https://www.yelp.com/biz/dHFoOQfVbYulRZUEC6lE-g', rel='nofollow noopener') Leak Found
					|  on 
					a(href='https://www.yelp.com', rel='nofollow noopener') Yelp
					script(async='async', src='https://www.yelp.com/embed/widgets.js', type='text/javascript')
			div
				span.yelp-review(data-review-id='dCQmRIC5mfp0s_mF1TNDPQ', data-hostname='www.yelp.com')
					| Read 
					a(href='https://www.yelp.com/user_details?userid=Z-hVT524EDQgZF6uN-4GVg', rel='nofollow noopener') Nina E.
					| 's 
					a(href='https://www.yelp.com/biz/leak-found-los-angeles-3?hrid=dCQmRIC5mfp0s_mF1TNDPQ', rel='nofollow noopener') review
					|  of 
					a(href='https://www.yelp.com/biz/dHFoOQfVbYulRZUEC6lE-g', rel='nofollow noopener') Leak Found
					|  on 
					a(href='https://www.yelp.com', rel='nofollow noopener') Yelp
					script(async='async', src='https://www.yelp.com/embed/widgets.js', type='text/javascript')
		.controls.clearfix
			.controls_current
			.controls_total