// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}
// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf) {
    $src: null;

    $extmods: (
        eot: "?",
        // svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote("../" + $path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
@include font-face("JohnSans", fonts/JohnSans-Text-Pro-Italic, 300, normal);
@include font-face("JohnSans", fonts/JohnSans-Text-Pro, 400, normal);
@include font-face("JohnSans", fonts/JohnSans-Medium-Pro, 500, normal);
@include font-face("JohnSans", fonts/JohnSans-Text-Pro-Bold-Italic, 600, normal);
@include font-face("JohnSans", fonts/JohnSans-Text-Pro-Bold, 700, normal);

@include font-face("a_FuturicaLt", fonts/a_FuturicaLt, 300, normal);

@include font-face("Swiss721BT", fonts/Swiss721BT-Black, 600, normal);

@include font-face("Lora", fonts/Lora-Italic, 300, normal);
@include font-face("Lora", fonts/Lora-Regular, 400, normal);
@include font-face("Lora", fonts/Lora-BoldItalic, 600, normal);
@include font-face("Lora", fonts/Lora-Bold, 700, normal);

@include font-face("Corbel", fonts/Corbel-Italic, 300, normal);
@include font-face("Corbel", fonts/Corbel-Regular, 400, normal);
@include font-face("Corbel", fonts/Corbel-BoldItalic, 600, normal);
@include font-face("Corbel", fonts/Corbel-Bold, 700, normal);

@include font-face("Microsoft", fonts/Microsoft-New-Tai-Lue, 400, normal);