.modal {
  text-align: center;
}

.modal {
	&:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-wrapper {
	// display: flex;
    // align-items: center;
}
.modal-open .modal {

}
#GetCall, #SuccessCall {
	.modal-header {
		padding: 40px 50px 25px 50px;
		border-bottom: none;
		@media #{$mobile} {
			padding: 30px 25px 15px 25px;
		}
		.close {
			position: absolute;
			right: 20px;
			top: 20px;
			width: 22px;
			height: 22px;
			opacity: 1;
			outline: none;
			@media #{$mobile} {
				right: 10px;
				top: 15px;
			}
			&:before, &:after {
				position: absolute;
				top: 0px;
				left: 10px;
				content: ' ';
				height: 22px;
				width: 2px;
				background-color: #474747;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
		h6 {
			font-size: 18px;
			color: #474747;
			text-transform: uppercase;
			span {
				font-size: 12px;
				color: #868787;
			}
			i {
				color: #008790;
			}
		}
	}
	.modal-body {
		padding: 0px 50px 60px 50px;
		@media #{$mobile} {
			padding: 0px 25px 40px 25px;
		}
		form {
			label {
				color: #424242;
				font-size: 16px;
				margin-bottom: 5px;
			}
			textarea {
				margin-bottom: 30px;
				resize: none;
			}
			.form-control {
				border-radius: 0px;
				box-shadow: none;
				border: 1px solid #d9d9d9;
				@include addPrefixPlaceholder(placeholder, font, 400 normal 16px $Lora);
				@include addPrefixPlaceholder(placeholder, color, $main_color);
				&:focus {
					border: 1px solid #008790;
					box-shadow: 0px 0px 0px 1px #008790;
					@include addPrefixPlaceholder(placeholder, color, #424242);
				}	
			}
			.btn {
				display: inline-block;
				width: 100%;
				margin-top: 35px;
				height: 45px;
				@media #{$mobile} {
					margin-top: 15px;
				}
			}
		}
	}
	.modal-dialog {
		max-width: 435px;
		// position: absolute;
		// margin: auto;
	 //    bottom: 0px;
	 //    right: 0px;
	 //    left: 0px;
	 //    top: 0px;
	}
}
#SuccessCall {
	.modal-header {
		padding: 0px;
		height: 60px;
	}
	img {
		display: block;
		margin: auto auto 45px;
	}
	h6 {
		color: #424242;
		font-size: 18px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	p {
		color: #767676;
		font: 400 normal 16px $Lora;
	}
	.modal-body {
		text-align: center;
		padding: 0px 50px 50px 50px;
		@media #{$mobile} {
			padding: 0px 25px 40px 25px;
		}
	}
	.modal-footer {
		border-top: none;
		padding: 0px;
	}
	.btn {
		margin-top: 20px;
		width: 100%;
	}
}
#VideoModal {
	.modal-dialog {
		@media #{$mobile} {
			width: 500px;
		}
		@media screen and(max-width: 540px) {
			width: 350px;
		}
		@media screen and(max-width: 380px) {
			width: 290px;
		}
	}
	.modal-video {
		min-height: 400px;
	    background-color: #000;
	    position: relative;
	    @media #{$mobile} {
	    	min-height: 333px;
	    }
	    @media screen and(max-width: 540px) {
			min-height: 234px;
		}
		  @media screen and(max-width: 380px) {
			min-height: 190px;
		}
	    iframe {
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    }
	}
}